.notification {
  width: 100%;
  height: 150px;
  padding: 24px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  transform: translate(6px, -6px);
}
.notif-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.notif-header .title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-green);
}
.close-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.close-btn .minus {
  width: 8px;
  height: 2px;
  margin-left: 10px;
  background-color: var(--bg-three);
}
.notif-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notif-content .description {
  font-size: 24px;
  color: var(--text-color);
}
.notif-content button {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  height: 55px;
  padding: 14px 50px;
  color: var(--text-color);
  background-color: var(--bg-two);
  outline: none;
  border: none;
  cursor: pointer;
}

/* circular progress bar  */
.lesson-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent {
  position: relative;
  margin-left: 16px;
}

.percent svg {
  position: relative;
  width: 56px;
  height: 56px;
  transform: rotate(-90deg);
}

.percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 5;
}

.percent svg circle:last-of-type {
  stroke-dasharray: 156px;
  stroke-dashoffset: calc(156px - (156px * var(--percent)) / 100);
  stroke: var(--bg-two);
}

.percent .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent .number h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-green);
  margin-bottom: 5px;
}
