.top-programs {
  margin-bottom: 60px;
}

.see-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.see-more-btn {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  padding: 14px 24px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: var(--bg-three);
  cursor: pointer;
}
