.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 380px;
  height: 100%;
}
.onScreenContent {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.datatypes {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dataElement {
  padding: 17px 80px 17px 64px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  flex-direction: row;
}

.isElementFinished {
  color: #00ec8b;
  text-decoration-line: underline;
}
.selected {
  font-family: "bold";

  background-color: rgb(21, 60, 63, 0.05);
}
.datascroll {
  overflow-y: scroll;
}
.datascroll::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.contactHelp {
  display: flex;
  margin-bottom: 70px;
  margin-top: 22px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 65px;
  background-color: #00ec8b;
  width: 250px;
  height: 310px;
  box-shadow: -6px 6px 0px 0px #153c3f;
}
.btnhelp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "bold";
  font-size: 14px;
  padding: 17px 38px;
  gap: 10px;
  color: white;
  bottom: 16px;
  position: absolute;
  width: 218px;
  height: 52px;

  background: #153c3f;
  box-shadow: 0px 4px 64px 8px rgba(0, 200, 225, 0.05);
}

.smpercent {
  position: relative;
  margin-top: 5px;
}

.smpercent svg {
  position: relative;
  width: 33.6px;
  height: 33.6px;
  transform: rotate(-90deg);
}

.smpercent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 2;
}

.smpercent svg circle:last-of-type {
  stroke-dasharray: 93.6px;
  stroke-dashoffset: calc(93.6px - (93.6px * var(--percent)) / 100);
  stroke: var(--text-color);
}

.smpercent .smnumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.smpercent .smnumber h3 {
  font-size: 10px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 5px;
}

.textandprogress {
  margin-bottom: 40px;
  margin-top: 76px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 60px;
}
.dotsandtext {
  margin-top: 30px;
  font-family: regular;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.smallDot {
  height: 8px;
  width: 8px;
  display: block;
  background-color: #153c3f;
  border-radius: 50%;
  margin-top: 5px;
}
.bigBar {
  height: 1px;
  background-color: rgba(21, 60, 63, 0.1);
  width: 100%;
  margin-top: 28px;
  margin-bottom: 28px;
}
.smallBar {
  width: 135px;
  height: 100%;
  background-color: #153c3f;
}
