.call-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 100px 20px;
  background-color: var(--bg-two);
}

.call-us .title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.call-us .description {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn-call-us {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  height: 55px;
  padding: 14px 60px;
  color: #ffffff;
  background-color: var(--text-color);
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .call-us {
    padding: 70px 20px;
  }

  .call-us .title {
    font-size: 48px;
  }

  .call-us .description {
    font-size: 24px;
  }

  .btn-call-us {
    font-size: 14px;
    height: 45px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 900px) {
  .call-us {
    padding: 50px 20px;
  }

  .call-us .title {
    font-size: 36px;
  }

  .call-us .description {
    font-size: 20px;
  }

  .btn-call-us {
    font-size: 14px;
    height: 45px;
    padding: 10px 40px;
  }
}
