footer {
  display: flex;
  position: relative;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  color: var(--color-footer);
  background-color: var(--bg-footer);
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .social-icons * {
  width: 39px;
  height: 39px;
  padding: 8px;
  cursor: pointer;
}
.footer-nav {
  margin-bottom: 8px;
}
.footer-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.footer-nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-footer);
  text-decoration: none;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    gap: 24px;
  }
}

@media only screen and (max-width: 550px) {
  .footer-nav ul {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
