footer {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 1vw 4vw;
  color: var(--color-footer);
  background-color: var(--bg-footer);
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .social-icons * {
  width: 39px;
  height: 39px;
  padding: 8px;
  cursor: pointer;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.footer-nav ul li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-footer);
  text-decoration: none;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
