@font-face {
  font-family: "bold"; /*Can be any text*/
  src: local("URWGeometricArabic"),
    url("./assets/fonts/URWGeometricArabic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "regular"; /*Can be any text*/
  src: local("URWGeometricArabic"),
    url("./assets/fonts/URWGeometricArabic-Regular.ttf") format("truetype");
}
:root {
  --text-color: #153c3f;
  --text-green: #00ec8b;
  --bg-one: #00c8e1;
  --bg-two: #00ec8b;
  --bg-three: #153c3f;
  --bg-footer: #153c3f;
  --color-footer: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1800px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 16px;
  color: var(--text-color);
}

/* styles to apply globally */
.logo {
  width: 90px;
  height: 35px;
  cursor: pointer;
}

.custom-shadow-box {
  width: 100%;
  background-color: var(--bg-three);
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.hover-cursor:hover {
  cursor: pointer;
}
.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.p-horizontal {
  padding-left: 64px;
  padding-right: 64px;
}

@media only screen and (max-width: 1080px) {
  .p-horizontal {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .p-horizontal {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.devider {
  width: 100%;
  height: 1px;
  background-color: rgba(21, 60, 63, 0.1);
}

/* -------- swiper style -------- */
.swiper-navigation-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-navigation-header .title {
  font-size: 32px;
  color: var(--text-color);
}

.swipe-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

.swipe-btns .icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  cursor: pointer;
}

.swiper {
  padding: 40px 64px !important;
}

/* ----------- progress bar style ----------- */
.percent {
  position: relative;
  margin-left: 16px;
}

.percent svg {
  position: relative;
  width: 56px;
  height: 56px;
  transform: rotate(-90deg);
}

.percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 5;
}

.percent svg circle:last-of-type {
  stroke-dasharray: 156px;
  stroke-dashoffset: calc(156px - (156px * var(--percent)) / 100);
  stroke: var(--bg-two);
}

.percent .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent .number h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-green);
  margin-bottom: 5px;
}
.lesson-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
