:root {
  --text-color: #153c3f;
  --text-green: #00ec8b;
  --bg-one: #00c8e1;
  --bg-two: #00ec8b;
  --bg-three: #153c3f;
  --bg-footer: #153c3f;
  --color-footer: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noscrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.swiper {
  padding: 40px 64px !important;
}

@media only screen and (max-width: 1080px) {
  .swiper {
    padding: 40px 40px !important;
  }
  .swiper-navigation-header .title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .swiper {
    padding: 40px 20px !important;
  }
}
.backgroundblue{
  background: linear-gradient(64.86deg, #5E45FF 0%, #0028B3 100%);
/* table shadow option */

box-shadow: 0px 3px 4px rgba(35, 35, 35, 0.05);
}