:root {
  --text-color: #153c3f;
  --text-green: #00ec8b;
  --bg-one: #00c8e1;
  --bg-two: #00ec8b;
  --bg-three: #153c3f;
  --bg-footer: #153c3f;
  --color-footer: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 16px;
  color: var(--text-color);
}

/* styles to apply globally */
.logo {
  width: 90px;
  height: 35px;
  cursor: pointer;
}

.custom-shadow-box {
  width: 100%;
  background-color: var(--bg-three);
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.p-horizontal {
  padding-left: 64px;
  padding-right: 64px;
}

.full {
  width: 100%;
}

.devider {
  width: 100%;
  height: 1px;
  background-color: rgba(21, 60, 63, 0.1);
}

/* -------- swiper style -------- */
.swiper-navigation-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 64px;
}

.swiper-navigation .title {
  font-size: 32px;
  color: var(--text-color);
}

.swipe-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

.swipe-btns .icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  cursor: pointer;
}

.swiper {
  padding: 40px 64px !important;
}
